name: Python Package

on: [push, pull_request, workflow_call]

permissions:
  contents: read

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.13"
          # Specify a pip cache for faster installs
          cache: pip
          cache-dependency-path: requirements-install-build.txt

      - name: Install Python dependencies
        run: |
          pip install -r requirements-install-build.txt --require-hashes

      - name: Build a binary wheel and a source tarball
        run: |
          python -m build

      - name: Store the distribution packages
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: python-package-distributions
          path: dist/
