name: Release

# This workflow follows Pypi guidelines for publishing using trusted publishers
# See https://docs.pypi.org/trusted-publishers/using-a-publisher/ for more details.

on:
  release:
    types: [published]

jobs:
  package:
    name: Package
    uses: ./.github/workflows/package.yml

  release:
    name: Release
    needs: [package]
    runs-on: ubuntu-latest

    # Make the GH environment explicit
    environment: release

    permissions:
      # Mandatory for attaching assets to releases
      contents: write
      # Mandatory for trusted publishing
      id-token: write

    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist/

    # The assets can be attached to an existing release, if a matching tag is found
    - name: Upload release assets
      uses: softprops/action-gh-release@v2
      with:
        files: dist/*.whl

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
