name: Python Test

on: [push, pull_request]

permissions:
  contents: read

# Cancel ongoing builds on new changes
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Run tasks
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        task: [gh-test]
        # The include map here is actually used to extend the matrix.
        # By passing all keys used in the matrix we append new unique combinations.
        # For more information see:
        # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#example-adding-configurations
        include:
          # Run linter/type checks only on 1 combination
          - os: ubuntu-latest
            python-version: '3.13'
            task: test
          - os: ubuntu-latest
            python-version: '3.13'
            task: gh-lint
          - os: ubuntu-latest
            python-version: '3.13'
            task: gh-format
          - os: ubuntu-latest
            python-version: '3.13'
            task: types

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        # This is enough to find many quoting issues
        with:
          path: "./check out"
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          python-version: ${{ matrix.python-version }}
          working-directory: './check out/'
          enable-cache: true

      - name: Setup project
        run: uv sync --frozen --directory "./check out/"

      - name: Display Python version
        run: echo "import sys; print(sys.version); print(sys.platform)" | uv run -

      - name: Run ${{ matrix.task }} on ${{ matrix.os }} - ${{ matrix.python-version }}
        run: uv run --frozen --directory "./check out/" --env-file=.github/http_env_block.conf poe ${{ matrix.task }}

      - name: Upload coverage reports
        if: ${{ matrix.task == 'gh-test' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage-${{ matrix.os }}-${{ matrix.python-version }}
          path: "./check out/.coverage"
          include-hidden-files: true

      - name: Upload test reports
        if: ${{ matrix.task == 'gh-test' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: tests-${{ matrix.os }}-${{ matrix.python-version }}
          path: "./check out/junit.xml"

  test-report:
    name: Report test results
    runs-on: ubuntu-latest
    needs: ["build"]
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.13'

      - name: Download all artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0

      - name: Install coverage
        run: pip3 install coverage

      - name: Create coverage report
        run: |
          coverage combine coverage-*/.coverage
          coverage xml

      - name: Upload combined coverage report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage-combined
          path: coverage.xml

      - name: Upload coverage to Codecov
        if: github.repository_owner == 'zephyrproject-rtos'
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: github.repository_owner == 'zephyrproject-rtos' && ${{ !cancelled() }}
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
